# Binaries
**/bin/
!vendor/bin/premake/
!Engine/vendor/assimp/bin
!Engine/vendor/mono/bin
bin-int/
obj/
**/cache/**
**/Cache/**
Engine/vendor/VulkanSDK
Hazelnut/Resources/Scripts/Hazel-ScriptCore.dll
Hazelnut/Resources/Scripts/Hazel-ScriptCore.pdb
Hazelnut/Resources/Scripts/Engine-ScriptCore.dll
Hazelnut/Resources/Scripts/Engine-ScriptCore.pdb
Hazelnut/Hazelnut
Editor/Resources/Scripts/Hazel-ScriptCore.dll
Editor/Resources/Scripts/Hazel-ScriptCore.pdb
Editor/Resources/Scripts/Engine-ScriptCore.dll
Editor/Resources/Scripts/Engine-ScriptCore.pdb
Editor/Editor
Intermediates/
Binaries
Hazelnut/Resources/Scripts/
Editor/Resources/Scripts/
__pycache__

Hazelnut/SandboxProject/Assets/Scripts/Binaries/**
Hazelnut/SandboxProject/Assets/SoundBank.hsb

# Hazelnut ApplicationSettings
Hazelnut/Config/ApplicationSettings.yaml

# Hazelnut Folders
Hazelnut/Captures/
Hazelnut/Tools/JoltViewer

Editor/SandboxProject/Assets/Scripts/Binaries/**
Editor/SandboxProject/Assets/SoundBank.hsb

# Editor ApplicationSettings
Editor/Config/ApplicationSettings.yaml

# Editor Folders
Editor/Captures/
Editor/Tools/JoltViewer

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.user

.idea/
Makefile
*.make
*.a

Hazelnut/EditorLayout.yaml
Hazelnut/Config/EditorApplicationSettings.yaml

Editor/EditorLayout.yaml
Editor/Config/EditorApplicationSettings.yaml

# LFS Folders
lfs/
hooks/

# Meta Files
**.meta

# Log files
**.log

# Auto saves
*.auto

# Dumps
*.nvdbg
*.nv-gpudmp
*gpudmp.json

# Folder Exceptions
!Hazelnut/SandboxProject/Assets/Scripts/Binaries

# System DLLs
Hazelnut/SandboxProject/Assets/Scripts/Binaries/System*.dll
Hazelnut/SandboxProject/Assets/Scripts/Binaries/Microsoft*.dll

# Folder Exceptions
!Editor/SandboxProject/Assets/Scripts/Binaries

# System DLLs
Editor/SandboxProject/Assets/Scripts/Binaries/System*.dll
Editor/SandboxProject/Assets/Scripts/Binaries/Microsoft*.dll

# File Exceptions
!AssetRegistryCache.hzr

# VS Code
.vscode/
.history/